/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --black-color: #000000;
    --white-color: #fff;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid,
.fa-regular {
    color: var(--main-color);
}

body {
    margin: 0;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0 auto;
}

/****** Navigation ***********/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand .logo {
    height: 1.2em;
    width: auto;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 70px;
}

.navbar-accommodation,
.navbar-activites {
    display: block;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1em;
    padding: 15px 0;
    transition: color 0.3s ease;
}

.navbar-menu a {
    color: var(--black-color);
    padding: 15px 0;
    border-top: 2px solid transparent;
}

.navbar-menu a:active {
    color: var(--main-color);
}

.navbar-accommodation {
    color: var(--black-color);
}

body:has(#accommodation:target) .navbar-menu a[href="#accommodation"],
body:has(#thingstodo:target) .navbar-menu a[href="#thingstodo"] {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

/****** Search & Welcome section  ***********/
.search-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/****** Accommodation And Popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Accommodation ***********/
.accommodation {
    width: 65%;
}

.accommodation-cards {
    display: grid;
    gap: 30px;
    margin: 20px 0px 20px 0;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
}

.accommodation-cards .card {
    display: flex;
    flex-direction: column;
}

.accommodation-cards img {
    height: 120px;
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.accommodation-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 5px 15px 0 15px;
    flex-grow: 1;
}

.accommodation-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.accommodation-cards .card-subtitle {
    margin: 0;
}

.accommodation-cards .card-rating {
    margin-bottom: 5px;
}

.accommodation-cards a {
    color: unset;
    text-decoration: unset;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

/****** Search section ***********/

.search-bar {
    display: flex;
    align-items: center;
}

.search-button i {
    display: none;
}

.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #F2F2F2;
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
}

input.search-input {
    height: 40px;
    border: 1px solid #F2F2F2;
    padding: 5px;
    font-weight: 700;
    color: var(--black-color);
}

button.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0 10px 10px 0;
    width: 60px;
    height: 50px;
    color: white;
    font-weight: 600;
}

.fa-location-dot {
    color: var(--black-color);
}

/****** Filters section ***********/
.filters-buttons,
.info-bar,
.filters {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

button.filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    border: 1px solid #D9D9D9;
    width: 160px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    font-weight: 700;
    font-size: 1em;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
}

.info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    width: 25px;
    height: 25px;
    font-size: 0.8em;
}

/****** activites section ***********/
.activites {
    padding: 20px;
}

.activites img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.activites-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0;
}

.activites-cards a {
    color: unset;
    text-decoration: unset;
}

.activites-card-txt {
    display: flex;
    justify-content: flex-start;
    padding: 0px 0px 0px 20px;
    align-items: center;
}

/****** Footer section ***********/
.footer-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--main-bg-color);
    padding: 10px 0px 20px 20px;
    box-sizing: border-box;
    margin-top: 30px;
}

.about,
.our-accomodation,
.support {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about h3,
.our-accomodation h3,
.support h3 {
    margin: 0;
}

/****** Responsiveness ***********/

@media screen and (min-width: 2560px) {
    .main-container {
        max-width: 1440px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1280px) {
    .accommodation-and-popular {
        flex-direction: column;
        gap: 10px;
    }

    .accommodation,
    .popular {
        width: 100%;
    }

    .accommodation-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .activites-card {
        max-width: 300px;
    }

    .accommodation-cards img {
        max-height: 100px;
    }

    .activites-cards {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-section {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-evenly;
        padding: 10px;
    }

}

@media screen and (max-width: 600px) {
    .main-container {
        padding: 0px;
        max-width: 600px;
    }

    .navbar {
        padding: 30px 0px 0px 0px;
        gap: 20px;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid var(--filter-bg-color);
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    body:has(#accommodation:target) .navbar-menu a[href="#accommodation"],
    body:has(#thingstodo:target) .navbar-menu a[href="#thingstodo"] {
        display: flex;
        justify-content: center;
        color: var(--main-color);
        border-bottom: 2px solid var(--main-color);
        width: 100%;
        border-top: none;
    }

    li a {
        justify-self: center;
    }

    .navbar-menu li {
        display: grid;
    }

    .filters-buttons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }


    button.filter-button {
        max-width: 100%;
    }

    .filters {
        align-items: stretch;
        flex-direction: column;
    }

    .search-section {
        padding: 0px 10px 0px 10px;
    }

    input.search-input {
        width: 100%;
    }

    .search-button i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .search-button .search-text {
        display: none;
    }

    button.search-button {
        box-shadow: 0px 0px 5px 2px #00000033;
        border-radius: 15px;
    }

    .accommodation-and-popular section {
        width: 100%;
        padding: 10px 20px 10px 20px;
        border-radius: 0px;
    }

    .accommodation-and-popular {
        flex-direction: column-reverse;
    }

    .popular-cards {
        flex-direction: column;
    }

    section.accommodation {
        background-color: white;
    }

    .accommodation-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .activites-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
        justify-items: center;
    }

    .activites img {
        height: 250px;
        object-fit: cover;
    }

    .footer-section {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}
